body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #121212;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

header h1 {
    margin: 0;
    color: #fff;
}

main {
    padding: 20px;
    background-color: #f4f4f4;
    min-height: calc(100vh - 80px);
}

ul {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 20px auto;
}

li {
    margin: 20px 0;
}

.box {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: block;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.box:hover {
    transform: translateY(-5px);
    background-color: #555;
}

.subboxes {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 20px;
    opacity: 0;
    transition: opacity 0.6s ease-in-out, max-height 0.6s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.subboxes li {
    margin: 5px 0;
}

.subboxes .subbox {
    background-color: #555;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    color: #87CEEB;
}

.subboxes .subbox:hover {
    transform: translateY(-5px);
    background-color: #666;
}

.subboxes a {
    color: #87CEEB;
    text-decoration: none;
}

.subboxes a:hover .subbox {
    background-color: #666;
}

.has-subboxes:hover .subboxes {
    opacity: 1;
    max-height: 500px;
}
